<!-- we'll be injecting this templates content to our boilerplate -->
<!-- this function is from ejs-mate -->
<!-- so this function is looking for everything in this template to pass that through as body to our boilerplate -->

<% layout('layouts/boilerplate') %> 
    <h1>ReCamp Home!</h1>
