<!-- we'll be injecting this templates content to our boilerplate -->
<!-- this function is from ejs-mate -->
<!-- so this function is looking for everything in this template to pass that through as body to our boilerplate -->
<% layout('layouts/boilerplate') %> 
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add a Campground</a>
    </div>
    <ul>
      <%for(let campground of campgrounds){%>
        <!-- here we have access to campground id as we pass through all campgrounds(stored in our db using mongoose) to index template -->
        <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title  %></a> </li>
      <%}%> 
    </ul>
